@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

header {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  color: #E9EDEF;
  background-color: #202C33;

  .group-info {
    display: flex;
    flex-direction: row;

    padding: 10px 16px;
    gap: 16px;

    cursor: pointer;

    img {
      height: 40px;
      width: 40px;
    }

    div {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 16px;
        line-height: 21px;
      }

      .online span {
        color: #8696A0;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }

  input {
    width: 10em;
    padding: 4px 8px;

    font-size: 12pt;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #2A3942;
    
    color: #E9EDEF;

    &::placeholder {
      color: #8696a0;
    }
  }
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: auto;

  overflow: hidden auto;

  color: #E9EDEF;
  background-color: #0B141A;
}
