.messages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

  gap: 4px;

  margin: 16px;
  padding: 16px;
  width: calc(100%);

  .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 6px 8px;

    border-radius: 8px;

    background-color: #202C33;

    max-width: 60%;

    .user {
      color: #ff9e64;
      font-size: 9pt;
    }

    .text {
      padding: 6px 0 4px 0;
      font-size: 11pt;

      line-height: 11.5pt;
      word-break: break-word;
    }

    .date {
      align-self: flex-end;
      font-size: 7pt;
      opacity: .75;
    }

    &.sent-by-me {
      align-self: flex-end;
    }
  }
}
